{% extends 'base.html' %} {% block contenido %}

<div class="container mt-5 text-center">
  <h1>Cursos</h1>
</div>
<div class="container mt-5 p-5">
  {% for curso in cursos %}
  <div class="card" style="width: 400px">
    <img class="card-img-top" src="{{ curso.imagen.url }}" alt="Card image" />
    <div class="card-body">
      <h4 class="card-title">{{ curso.nombre }}</h4>
      <p class="card-text"><strong>Nivel:</strong> {{ curso.nivel }}</p>
      <p class="card-text">
        <strong>Docente:</strong> {{ curso.docente.nombre }} {{
        curso.docente.apellido }}
      </p>
      <div class="d-flex justify-content-between">
        <a
          href="{% url 'materias:editar_curso' curso.pk %}"
          class="btn btn-warning"
          >Editar</a
        >
        <a
          href="{% url 'materias:eliminar_curso' curso.pk %}"
          class="btn btn-danger"
          >Eliminar</a
        >
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
