{% extends 'base.html' %} {% load static %} {% block contenido %}

<h1 class="seccion-titulo mb-4">Docentes</h1>
<div class="container-fluid px-0">
  <div class="row docentes-fila mx-0">
    {% for docente in docentes %} {% if forloop.counter0|divisibleby:2 %}
    <div class="col estudiante-col px-2 mb-4">
      <div class="card estudiante-card">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">
                {{ docente.nombre }} {{ docente.apellido }}
              </h3>
              <p class="card-text">
                <strong>Correo:</strong> {{ docente.correo }}
              </p>
              <p class="card-text">
                <strong>Tipo de Sangre:</strong> {{ docente.tipo_sangre }}
              </p>
              <p class="card-text">
                <strong>Dirección:</strong> {{ docente.direccion }}
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <img
              src="{{ docente.imagen.url }}"
              class="card-img-top estudiante-img"
              alt="{{ docente.nombre }} {{ docente.apellido }}"
            />
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="col estudiante-col px-2 mb-4">
      <div class="card estudiante-card">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img
              src="{{ docente.imagen.url }}"
              class="card-img-top estudiante-img"
              alt="{{ docente.nombre }} {{ docente.apellido }}"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">
                {{ docente.nombre }} {{ docente.apellido }}
              </h3>
              <p class="card-text">
                <strong>Correo:</strong> {{ docente.correo }}
              </p>
              <p class="card-text">
                <strong>Tipo de Sangre:</strong> {{ docente.tipo_sangre }}
              </p>
              <p class="card-text">
                <strong>Dirección:</strong> {{ docente.direccion }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
</div>

{% endblock %}
